root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{json,yaml,yml}]
charset = utf-8
indent_size = 2
indent_style = space


[*.{ts,js,json,yaml,yml}]
charset = utf-8
indent_size = 4
indent_style = space
