{
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
